<h3>以下の内容でよろしいですか？</h3>
<%= form_with(model: @picture,url:pictures_path,local:true) do |form| %>
<%= form.hidden_field :word %>
  <div class="col-xs-12"><%= @picture.word %></div>
  <div class="col-xs-12"><%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %></div>
<br>
<%= form.hidden_field :image_cache %>
<br>
<%= form.button "投稿する",class: "btn btn-success" %>
<% end %>
<br>

<%= form_with(model:@picture,url:new_picture_path,local:true,method:"get") do |form|%>
<%= form.hidden_field :word %>
<%= form.hidden_field :image_cache %>
<%= form.button "戻る",name:"back",class: "btn btn-info" %>
<% end %>